<div style="text-align: center; margin-top: 300px;">

	{% if error %}
		<div>{{ error.message }}</div>
	{% endif %}

	<form action="{{ path('login_check') }}" method="post" style="width: 600px; margin: 0 auto">
		<label for="username">Username:</label>
		<input type="text" id="username" name="_username" value="{{ last_username }}" />
		<label for="password">Password:</label>
		<input type="password" id="password" name="_password" />
		<input type="hidden" name="_target_path" value="/portfolio" />

		<button type="submit">login</button>
	</form>
		
</div>