{% extends 'PortfolioBundle:Default:layout.html.twig' %}

{% block projects %}
    <section id="portfolio" class="gray-bg padding-top-bottom">			
        <div class="container">
            <header class="section-header text-center">				
                <h1 class="scrollimation scale-in">My Works</h1>				
            </header>
        <div class="container masonry-wrapper scrollimation fade-in">
            <div id="projects-container">
                
                {% for project in projectList %}
                    
                    <article class="project-item mock-up">

                        <img class="img-responsive project-image" src="/bundles/portfolio/projects/thumbnail/{{ project.id }}.png"  alt=""><!--Project thumb -->

                        <div class="hover-mask">
                            <h2 class="project-title">{{ project.name }}</h2>
                            <p>{{ project.category }}</p>
                        </div>

                        <div class="sr-only project-description" 
                            data-category="{{ project.category }}" 
                            data-date="{{ project.date|date("Y") }}" 
                            data-client="{{ project.name }}" 
                            data-link="{{ project.url }}" 
                            data-descr="{{ project.description|raw }}" 
                            data-images="/bundles/portfolio/projects/{{ project.id }}.png"
                        >
                            <p>{{ project.description|raw }}</p>
							{% if project.url %}
								<p class="text-right"><a class="btn btn-meflat icon-right" href="{{ project.url }}" target="_blank">Visit Website<i class="fa fa-arrow-right"></i></a></p>
							{% endif %}
						</div>

                    </article>
                    
                {% endfor %}
                    
            </div>

        </div>
        
        <div id="project-modal" class="modal fade">

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">

                        <div class="container">

                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                            <h1 id="hdr-title" class="text-center"></h1>
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="image-wrapper">
                                        <img class="img-responsive" src="/bundles/portfolio/images/chrome.png" alt="">
                                        <div class="loader"></div>
                                        <div class="screen"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div id="project-sidebar" class="col-md-4">
                                    <h2 id="sdbr-title"></h2>
                                    <p id="sdbr-category"></p>
                                    <p id="sdbr-date"></p>
                                    <p id="sdbr-client"></p>
                                    <p id="sdbr-link"><a href="#link" target="_blank"></a></p>
                                </div>
                                <div class="col-md-7 col-md-offset-1">
                                    <h2 id="sdbr-title">Work</h2>
                                    <p id="project-content"></p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>

    </section>
{% endblock %}