<!DOCTYPE html>
<html lang="en-US" class="no-js">
	
	<head>

		<meta charset="utf-8">
		<title>kusiu | Portfolio</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
   
		<link rel="stylesheet" href="/bundles/portfolio/css/portfolio/bootstrap.min.css">
		<link rel="stylesheet" href="/bundles/portfolio/css/portfolio/font-awesome.css">
		<link rel="stylesheet" href="/bundles/portfolio/css/portfolio/flexslider.css">
		<link id="main" rel="stylesheet" href="/bundles/portfolio/css/portfolio/meflat-light-green.css">
		<link id="theme" rel="stylesheet" href="/bundles/portfolio/css/portfolio/meflat-light-green.css">
		<link rel="stylesheet" href="/bundles/portfolio/css/portfolio/style-switcher.css">

		<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,200,400italic,600,600italic' rel='stylesheet' type='text/css'>
			
		<!--[if lt IE 9]>
			<script src="/bundles/portfolio/js/bundles/portfolio/respond.min.js"></script>
		<![endif]-->
		
		<script type="text/javascript" src="/bundles/portfolio/js/portfolio/libs/modernizr.min.js"></script>
		<script src="/bundles/portfolio/js/portfolio/jquery.min.js"></script>
		<script src="/bundles/portfolio/js/portfolio/libs/jquery-1.8.2.min.js"></script>		
		<script src="/bundles/portfolio/js/portfolio/libs/bootstrap.min.js"></script>
		<script src='/bundles/portfolio/js/portfolio/jquery.easing.1.3.min.js'></script>
		<script src='/bundles/portfolio/js/portfolio/jquery.scrollto.js'></script>
		<script src="/bundles/portfolio/js/portfolio/jquery.fittext.js"></script>
		<script src='/bundles/portfolio/js/portfolio/jquery.flexslider.min.js'></script>
		<script src='/bundles/portfolio/js/portfolio/jquery.masonry.js'></script>
		<script src="/bundles/portfolio/js/portfolio/waypoints.min.js"></script>
		<script src="/bundles/portfolio/js/portfolio/jquery.label_better.min.js"></script>
		<script src="/bundles/portfolio/js/portfolio/jquery.easypiechart.js"></script>
		<script src="/bundles/portfolio/js/portfolio/grid.html"></script>
		<script src="/bundles/portfolio/js/portfolio/contact.js"></script>
		<script src="/bundles/portfolio/js/portfolio/meflat.js"></script>
		<script src="/bundles/portfolio/js/portfolio/style-switcher.js"></script>
		
	</head>
  
	<body data-spy="scroll" data-target="#main-nav" data-offset="400">

		<div id="main-nav" class="navbar navbar-fixed-top">
			<div class="container">
			
				<div class="navbar-header">
				
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
				</div>
				
				<div id="site-nav" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li>
							<a href="#portfolio" class="scrollto">My Works</a>
						</li>
						<li>
							<a href="#contact" class="scrollto">Contact Me</a>
						</li>
						<li>
							<a href="/bundles/portfolio/my-cv.pdf" target="_blank">view my resume</a>
						</li>

					</ul>
				</div>
				
			</div>
			
		</div>
		
		<header id="home" class="jumbotron">
		
			<div class="container">
			
				<div class="row">
				
					<div class="col-sm-6 text-col">
					
						<h1>Hi, I am Andrew</h1>
						<p>a contract full-stack web developer</p>
						
					</div>
					
					<div class="col-sm-6">
						<div class="imac-frame">
							<img class="img-responsive img-center" src="{{ asset('bundles/portfolio/images/imac.png') }}" alt=""/>
							<div class="imac-screen flexslider">
								<ul class="slides">
									<li>
										<img src="{{ asset('/bundles/portfolio/projects/slides/1.png') }}" alt=""/>
									</li>
									<li>
										<img src="{{ asset('bundles/portfolio/projects/slides/2.png') }}" alt=""/>
									</li>
									<li>
										<img src="{{ asset('bundles/portfolio/projects/slides/3.png') }}" alt=""/>
									</li>
								</ul>
							</div>
						</div>
					</div>
				
				</div>
			
			</div>
			
		</header>
                
        {% block projects %}{% endblock %}
        
		<section id="contact" class="dark-bg light-typo padding-top">
		
			<div class="container">
			
				<header class="section-header text-center">
				
					<h1 class="scrollimation scale-in">Do you need a contractor?</h1>
					<h2>Contact me now!</h2>
				
				</header>
				
				<form  id="contact-form" class="bl_form text-center" action="#" method="post" novalidate>
					<span class="field-wrap scrollimation fade-right">
						<label class="control-label" for="contact-name">Name</label>
						<input id="contact-name" name="contactName" type="text" class="requiredField" data-new-placeholder="Name" placeholder="Name" data-error-empty="*Enter your name">
					</span>
					<span class="field-wrap scrollimation fade-in">
						<label class="control-label" for="contact-mail">Email</label>
						<input id="contact-mail" name="email" type="email" class="requiredField" data-new-placeholder="Email Address" placeholder="Email Address" data-error-empty="*Enter your email" data-error-invalid="x Invalid email address">
					</span>
					<span class="field-wrap scrollimation fade-left">
						<label class="control-label" for="contact-message">Message</label>
						<textarea id="contact-message" name="comments" rows="1" class="requiredField" data-new-placeholder="Message" placeholder="Message" data-error-empty="*Enter your message"></textarea>
					</span>
					
					<p class="text-center"><button class="btn btn-meflat icon-left" data-error-message="Error!" data-sending-message="Sending..." data-ok-message="Message Sent">Send Message</button></p>
					<input type="hidden" name="submitted" id="submitted" value="true" />
					
				</form>
				
			</div>
		
		</section>		
		
	</body>
</html>